{% extends 'base.html' %}


{% block content %}
<div class="container col-8-sm ">

    {% if object %}
    <h1 class="color-primary my-4">Edit <span>{{ object.species }}</span></h1>
    {% else %}
    <h1 class="color-primary my-4">Create Bird</h1>
    {% endif %}

    <form action="" method="post" class="form-group m-2">
        {% csrf_token %}
        <ul class="list-group list-group-flush">
            {% for field in form %}
            <li class="list-group-item p-3">
                {{ field.label_tag }} {{ field }}
            </li>
            {% endfor %}
        </ul>
        <input type="submit" vlaue="Submit" class="btn btn-light">
    </form>
</div>
{% endblock content %}